.NavCard {
  padding: 24px;
  background-color: rgba(17, 97, 214, 0.05);
  border-radius: 8px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 48px 0;
}

.NavCard img {
  width: 42px;
  height: 42px;
}

.CompanyDetails {
  color: #f5f5f5;
  margin-left: 22px;
  margin-right: 39px;
}

.CompanyDetails h5 {
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}

.CompanyDetails h6 {
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
}

.NavCard button {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.RightIcon {
  font-size: 24px;
  background-color: rgba(211, 211, 211, 0.1);
  border-radius: 12px;
  color: white;
}
